.swiper-container {
  width: 70%;
}
.swiper-slide {
  height: 200px;
  text-align: center;
  font-size: 18px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
