.header{
  // height: 50px;
  padding: 0 50px;
  display: flex;
  .header-logo{
    flex: 1;
  }
  .header-menu{
    flex: 1;
    li{
      float: left;
      padding: 28px 10px 35px 10px;
      cursor: pointer;
    }
    .active{
      color: #1E8CE5;
      border-bottom: 6px solid #1E8CE5;
    }
  }
}