.banner{
  background: url('../../assets/img/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 625px;
  .banner-main{
    width: 1200px;
    margin: 0 auto;
    .banner-main-content{
      width: 600px;
      text-align: center;
      padding-top: 200px;
      p{
        color: #fff;
        font-size: 27px;
        line-height: 60px;
      }
      span{
        color: #fff;
        font-size: 14px;
      }
      div{
        background: rgb(36, 108, 255);
        color: #fff;
        width: 190px;
        height: 40px;
        line-height: 40px;
        border-radius: 40px;
        text-align: center;
        margin: 0 auto;
        margin-top: 38px;
        cursor: pointer;
        transition: opacity 0.3s linear;
      }
      div:hover{
        opacity: 0.8;
      }
    }
  }
}